/* RESETEO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*NAVBAR */
.navbar {
  background-color: rgb(27, 79, 114);
  color: white;
  font-size: large;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand {
  color: white;
  font-size: larger;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 30px;
}

/* INDEX */
body {
  background-color: whitesmoke;
}

h1 {
  font-family: "Heebo", sans-serif;
}

.tit-index {
  text-align: center;
}

h2 {
  font-family: "Heebo", sans-serif;
}

div p {
  font-family: "Heebo", sans-serif;
  font-size: x-large;
}

.nav-link:hover {
  padding: 5px 10px;
  background-color: bisque;
  border-radius: 10px;
}

.d-block {
  margin: auto;
  align-items: center;
  width: 90%;
  height: 60vh;
  object-fit: cover;
}

#quienes-somos {
  background-color: rgb(229, 231, 233);
  width: 90%;
}

.card {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: whitesmoke;
  height: 70%;
}

.card-text {
  font-size: 15px;
}

#card-title-staff {
  background-color: rgb(27, 79, 114);
  text-align: center;
  color: white;
  padding: 5px;
}

/* ANIDACION DE IMG, H5, H6 Y A */
.card-staff-article {
  border: 2px solid gray;
  border-radius: 10px;
  border-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  background-color: rgb(229, 231, 233);
  margin: 0 20px;
}
.card-staff-article > img {
  width: 90%;
  height: 90%;
  margin-bottom: 5%;
}
.card-staff-article > h5 {
  margin-top: 10%;
  color: rgb(27, 79, 114);
  font-size: 15px;
  font-weight: bold;
}
.card-staff-article > a {
  border: 2px solid gray;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(27, 79, 114);
  border-color: gray;
  color: white;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 2px;
  margin-bottom: 10px;
}
.card-staff-article > h6 {
  color: rgb(27, 79, 114);
  font-size: 12px;
}

.container-staff {
  padding: 8px;
  display: flex;
  overflow-x: scroll;
  width: 92%;
  margin-left: 3%;
}

.section-carrusel {
  margin-top: 30px;
}

.section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-seach {
  background-color: rgb(229, 231, 233);
  width: 90%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

#seach-form {
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

#btn-search-form {
  background-color: rgb(27, 79, 114);
}

#btn-search-form:hover {
  background-color: green;
}

/* FOOTER */
footer {
  text-decoration: solid;
  background-color: rgb(27, 79, 114);
  display: flex;
  padding: 15px;
  justify-content: space-around;
}

/* Aplicando Maps al Footer */
.footer-links {
  color: white;
  font-size: 2rem;
  display: inline-block;
  text-align: center;
  width: 90%;
}

i {
  margin-left: 9%;
}

/* STAFF */
body {
  background-color: whitesmoke;
}

#card-staff {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  padding: 15px;
  justify-content: center;
  background-color: rgb(229, 231, 233);
  padding-top: 2%;
  padding-bottom: 2%;
}

#button-staft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  text-align: justify;
}

/* NOVEDADES */
#contenido-novedades {
  margin: 3%;
}

#texto-novedades {
  padding-right: 10%;
  text-align: justify;
}

#card-nov {
  margin: 0%;
  width: 30%;
}

#img-nov {
  margin-top: 3%;
  margin-bottom: 3%;
}

.text-conte-nov {
  font-size: 1rem;
}

.verMas {
  margin-top: 0%;
  font-size: 1rem;
  color: rgb(27, 79, 114);
}

.verMas:hover {
  color: red;
}

/* CONTATCO */
#form-contacto {
  margin: 5%;
}

#btn-contacto-submit {
  margin-bottom: 7%;
}

/* PAGOS */
.form-pagos {
  margin: 5%;
}

/*# sourceMappingURL=style.css.map */
