/* NOVEDADES */
#contenido-novedades{
    margin:3%;
}

#texto-novedades{
    padding-right: 10%;
    text-align: justify;
}

#card-nov{
    margin: 0%;
    width: 30%;
}

#img-nov{
    margin-top: 3%;
    margin-bottom: 3%;
}
.text-conte-nov{
    font-size: 1rem;
}

.verMas{
    margin-top: 0%;
    font-size: 1rem;    
    color:  rgb(27, 79, 114);
}

.verMas:hover{
    color: red;
}
